p {
  margin: 0px;
  padding: 0px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.rating {
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
  margin-right: 40px;

  &:last-child {
    margin-right: 0px;
  }
}

.item {
  height: 50px;
  display: flex;
  align-items: center;
}